<div id="app" class="start" data-state="NAV1" #app>
  <nav class="ui-nav" #uiNav>
    <div class="ui-nav-buttons">
      <div class="ui-icon -menu"></div>
      <div class="ui-icon -search"></div>
    </div>
    <ul class="ui-nav-items">
      <li class="ui-nav-item" *ngFor="let title of titles; let i = index" [attr.data-key]="i" #uiNavItem>
        <div class="ui-nav-item-title">
          <span>{{title}}</span>
        </div>
      </li>
    </ul>
  </nav>
  <div class="ui-main">
    <header class="ui-header">
      <span class="ui-filter">Popular</span>
      <span class="ui-filter">This Week</span>
    </header>
    <div class="ui-articles" id="articles-container">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="ui-fab"></div>
</div>