<app-swipeable-pages [colors]="colors" [titles]="titles">
  <app-article [datakey]="1">
    <header class="ui-header">
      <div class="ui-thumbnail"></div>
      <div class="ui-title" data-views="3k" data-days="5">
        These Goats Are Pretty Cool
      </div>
    </header>
    <div class="ui-content">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/Screen%20Shot%202017-04-23%20at%2011.00.36%20PM.png"
        alt="" class="ui-photo">
    </div>
    <header class="ui-header">
      <div class="ui-thumbnail"></div>
      <div class="ui-title" data-views="564" data-days="10">
        Facebook now reads people's minds
      </div>
    </header>
    <header class="ui-header">
      <div class="ui-thumbnail"></div>
      <div class="ui-title" data-views="808" data-days="8">
        What did Uber do this time?
      </div>
    </header>
    <header class="ui-header">
      <div class="ui-thumbnail"></div>
      <div class="ui-title" data-views="552" data-days="2">
        Meteor shower to occur Friday night
      </div>
    </header>
  </app-article>
  <app-article [datakey]="2">
      <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="3k" data-days="5">
            Jellyfish Cam Offers Stunning Views
          </div>
        </header>
        <div class="ui-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/Screen%20Shot%202017-04-21%20at%2012.49.25%20AM.png" alt="" class="ui-photo">
        </div>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="564" data-days="10">
            Oculus Rift and VR
          </div>
        </header>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="808" data-days="8">
            Your favorite gadgets ever
          </div>
        </header>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="552" data-days="2">
            A new planet found near us
          </div>
        </header>
  </app-article>

  <app-article [datakey]="3">
      <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="3k" data-days="5">
            Project Microsoft Hololens
          </div>
        </header>
        <div class="ui-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/Screen%20Shot%202017-04-24%20at%2012.49.31%20AM.png" alt="" class="ui-photo">
        </div>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="564" data-days="10">
            Oculus Rift and Minecraft
          </div>
        </header>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="808" data-days="8">
            Your favorite games ever
          </div>
        </header>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="552" data-days="2">
            Jak and Daxter reboot
          </div>
        </header>
  </app-article>

  <app-article [datakey]="4">
      <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="3k" data-days="5">
            Silicon Valley Sparks Debate
          </div>
        </header>
        <div class="ui-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/Screen%20Shot%202017-04-23%20at%2011.06.31%20PM.png" alt="" class="ui-photo">
        </div>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="564" data-days="10">
            Fast and Furious needs to slow down
          </div>
        </header>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="808" data-days="8">
            Deadpool sequel might not suck
          </div>
        </header>
        <header class="ui-header">
          <div class="ui-thumbnail"></div>
          <div class="ui-title" data-views="552" data-days="2">
            Why are you reading these?
          </div>
        </header>
  </app-article>

</app-swipeable-pages>
