
<div class="gray-border" id="phone">
  <div class="gray-border" id="phone-face">
    <div class="gray-border" id="sensor"></div>
    <div id="camera-and-speaker">
      <div class="gray-border" id="camera"></div>
      <div class="gray-border" id="speaker"></div>
    </div>
    <div class="gray-border" id="screen">
      <div id="content">
        <task-list [props]="items | async" [editMode]="false"></task-list>
      </div>
    </div>
    <div class="gray-border" id="home-button"></div>
  </div>
  <div class="gray-border" id="mute-button"></div>
  <div class="gray-border" id="volume-up-button"></div>
  <div class="gray-border" id="volume-down-button"></div>
  <div class="gray-border" id="power-button"></div>
</div>